<h2>Reset your password!</h2>

<%= simple_form_for model, as: :user, url: options[:url] do |f| %>
  <%= f.input :password, required: false %>
  <%= f.input :password_confirm, required: false %>
  <%= f.button :submit %>
<% end %>

<%# CGI.escape_html model.errors.messages.inspect %>

<%= CGI.escape_html model.inspect %>
