<h2>Sign up for ... whatever</h2>

<%= simple_form_for model, as: :user, url: "/signup" do |f| %>
  <%= f.input :email, required: false %>
  <%= f.input :password, required: false %>
  <%= f.button :submit %>
<% end %>

<div class="row">
  <%= link_to "Forgot password?", "/forgot" %>
</div>

<%= CGI.escape_html model.inspect %>
